@keyframes beat {
  10% {
    transform: scale(.91);
  }
  17% {
    transform: scale(.98);
  }
  33% {
    transform: scale(.87);
  }
  45% {
    transform: scale(1);
  }
}

@keyframes glitchy {
  0% {
    color: #39848D;
    transform: translate(-2px, 2px);
  }
  12% {
    color: #9D1840;
    transform: translate(2px, 2px);
  }
  25% {
    color: #39848D;
    transform: translate(-2px, -2px);
  }
  37% {
    color: #9D1840;
    transform: translate(4px, -2px);
  }
  50% {
    color: #39848D;
    transform: translate(4px, 2px);
  }
  62% {
    color: #9D1840;
    transform: translate(-2px, 2px);
  }
  75% {
    color: #39848D;
    transform: translate(2px, -2px);
  }
  87% {
    color: #9D1840;
    transform: translate(-2px, -2px);
  }
  100% {
    color: #39848D;
    transform: translate(-2px, 2px);
  }
}