@keyframes glitchy {
  0% {
    transform: translate(-3px, 3px);
  }
  25% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  75% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(-3px, 3px);
  }
}