$text-color: #050607; // dark slate grey

$steel-blue: #39848D; // steel blue // primary
$fire-brick: #9D1840; // fire brick // secondary

$midnight-blue: #18454B; // midnight blue
$saddle-brown: #561427; // saddle brown

$dark-slate-grey: #050607; // dark slate grey 
$white: #fff; // pure white

$main-font: 'Source Code Pro', monospace;
$second-font: 'Source Code Pro', monospace;