$grey: #333333;
$white: #fff;

$primary: #39848D;
$secondary: #9D1840;

$midnight-blue: #18454B;
$saddle-brown: #561427;
$dark-slate-grey: #050607;

$header-font: Audiowide, 'Source Code Pro', monospace;
$content-font: Montserrat, 'Source Code Pro', monospace;