$grey: #333333;
$white: #fff;

$primary: #39848D; // steel blue // primary
$secondary: #9D1840; // fire brick // secondary

$midnight-blue: #18454B; // midnight blue
$saddle-brown: #561427; // saddle brown
$dark-slate-grey: #050607; // dark slate grey 

$header-font: Audiowide, 'Source Code Pro', monospace;
$content-font: Montserrat, 'Source Code Pro', monospace;