@import '_variables';

html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
  overflow-y: scroll;
}

*, *:before, *:after { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $content-font;
  color: $grey;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: $header-font;
  font-weight: 900;
}

#page-wrapper {
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  background-color: $primary;
}
  
.nav-bar {
  width: 100%;
  display: inline-block;
  position: sticky;
  background-color: $grey;
  height: 50px;
  list-style: none;
  #logo {
    color: $white;
    margin-left: 10px;
    // margin-left: auto;
    margin-right: auto;
  }
  li:not(.profile-pic){
    margin-right: 10px;
    margin-left: 10px;
  }
}

main {
  section {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 15vh;
  }

  section#landing {
    color: $white;
    width: 100%;
    background-color: $grey;
    padding-right: 10%;
    #title-header {
      // font-weight: 900;
      font-size: 3em;
      text-align: end;
    }
    #subtitle-header {
      text-align: end;
    }
  }

  section#about {
    background-color: $primary;
    // #about-portrait {
    // }
    // #about-content {
    // }
  }

  section#projects {
    background-color: $primary;
    // #projects-content {
    // }
    // #gallery {
    // }
  }

  section#contact {
    background-color: $primary;
    height: 85vh;
    padding-top: 50px;
    // #contact-content {
    // }
    form {
      display: flex;
      flex-direction: column;
      input, textarea {
        font-size: inherit;
        padding: 1em;
        transition: all 0.5s ease-in-out;
        &:hover {
          background-color: darken($color: $white, $amount: 5%);
          color: $grey;
        }
        &:focus {
          background-color: darken($color: $white, $amount: 10%);
          color: $grey;
        }
      }
      textarea {
        height: 10em;
        resize: none;
      }
      input#contact-submit {
        color: $white;
        background-color: $secondary;
        cursor: pointer;
        &:disabled { opacity: 0.5; }
      }
    }
  }
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $grey;
}

// Small screen sizes
// @media only screen and (min-width: 480px) {

// }
// Desktop screen sizes
// @media only screen and (min-width: 768px) {

// }